@font-face {
    font-family: 'Asanonokyujitu';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Asanonokyujitu.ttf') format('truetype');
}
@font-face {
    font-family: 'Bog';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Bog.otf') format('opentype');
}
@font-face {
    font-family: 'DotGothic16-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/DotGothic16-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'GDhwGoJA-OTF112b2';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/GDhwGoJA-OTF112b2.otf') format('opentype');
}
@font-face {
    font-family: 'G_comic_kointai';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/G_comic_kointai.ttf') format('truetype');
}
@font-face {
    font-family: 'GenEiPOPle-Bk';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/GenEiPOPle-Bk.ttf') format('truetype');
}
@font-face {
    font-family: 'GenShinGothic-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/GenShinGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Graduate-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Graduate-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'HD Tomoharu Dot Gothic';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/HD Tomoharu Dot Gothic.ttf') format('truetype');
}
@font-face {
    font-family: 'HOT-ReishoRkk-R';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/HOT-ReishoRkk-R.otf') format('opentype');
}
@font-face {
    font-family: 'HigureGothic-Medium';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/HigureGothic-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Kokutets_poi-toukan';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Kokutets_poi-toukan.ttf') format('truetype');
}
@font-face {
    font-family: 'Kokutets_poi';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Kokutets_poi.ttf') format('truetype');
}
@font-face {
    font-family: 'Kosugi-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Kosugi-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'KosugiMaru-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/KosugiMaru-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lobster';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Lobster.ttf') format('truetype');
}
@font-face {
    font-family: 'Novecento Slab Wide Normal';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Novecento Slab Wide Normal.otf') format('opentype');
}
@font-face {
    font-family: 'Onryou';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Onryou.TTF') format('truetype');
}
@font-face {
    font-family: 'ProductSans-Italic';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ProductSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'ProductSans-Medium';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ProductSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'ProductSans-MediumItalic';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ProductSans-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'ProductSans-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ProductSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ree-Fude';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Ree-Fude.ttf') format('truetype');
}
@font-face {
    font-family: 'ReePop';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ReePop.ttf') format('truetype');
}
@font-face {
    font-family: 'ShipporiMinchoB1-TTF-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ShipporiMinchoB1-TTF-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Black';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Bold';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Heavy';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Light';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Medium';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Togalite-Thin';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/Togalite-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'WDXLLubrifontJPN-Regular';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/WDXLLubrifontJPN-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'hkreing';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/hkreing.ttf') format('truetype');
}
@font-face {
    font-family: 'komaru_higemoji';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/komaru_higemoji.ttf') format('truetype');
}
@font-face {
    font-family: 'waltograph42';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/waltograph42.ttf') format('truetype');
}
@font-face {
    font-family: 'yurumoji';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/yurumoji.ttf') format('truetype');
}
@font-face {
    font-family: 'くり抜き木板フォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/くり抜き木板フォント.ttf') format('truetype');
}
@font-face {
    font-family: 'ふぉんとうは怖い明朝体';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ふぉんとうは怖い明朝体.otf') format('opentype');
}
@font-face {
    font-family: 'わんぱくフォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/わんぱくフォント.ttf') format('truetype');
}
@font-face {
    font-family: 'シイタケフォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/シイタケフォント.ttf') format('truetype');
}
@font-face {
    font-family: 'ハンバーグフォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/ハンバーグフォント.ttf') format('truetype');
}
@font-face {
    font-family: 'マジックフォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/マジックフォント.ttf') format('truetype');
}
@font-face {
    font-family: '上盛フォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/上盛フォント.ttf') format('truetype');
}
@font-face {
    font-family: '上盛フォントイタリック';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/上盛フォントイタリック.ttf') format('truetype');
}
@font-face {
    font-family: '上盛目つきフォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/上盛目つきフォント.ttf') format('truetype');
}
@font-face {
    font-family: '木板フォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/木板フォント.ttf') format('truetype');
}
@font-face {
    font-family: '鏡文字';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/鏡文字.woff2') format('woff2');
}
@font-face {
    font-family: '青柳衡山フォントT荒';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/青柳衡山フォントT荒.ttf') format('truetype');
}
@font-face {
    font-family: '骨フォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/骨フォント.ttf') format('truetype');
}
@font-face {
    font-family: '｢あ｣だけフォント';
    src: url('https://ruhamoto.github.io/ruhamoto-ruhamoto-very-very-some-fonts/｢あ｣だけフォント.ttf') format('truetype');
}


