@font-face {
  font-family: 'Asanonokyujitu';
  src: url('https://res.cloudinary.com/dfjmnjpu5/raw/upload/v1760249357/zoadwk0graarlan5ydso.ttf') format('truetype');
}
@font-face {
  font-family: 'Bog';
  src: url('https://raw.githubusercontent.com/Ruhamoto/ruhamoto-ruhamoto-very-very-some-fonts/refs/heads/main/Bog.otf?token=GHSAT0AAAAAADIBQ4MSJOVYFX2XVFKQWOJY2HLITXQ') format('opentype');
}
