@font-face {
  font-family: 'Asanonokyujitu';
  src: url('https://raw.githubusercontent.com/Ruhamoto/ruhamoto-ruhamoto-very-very-some-fonts/refs/heads/main/Asanonokyujitu.ttf?token=GHSAT0AAAAAADIBQ4MT74Z77I5DOZADV66C2HLISTQ') format('truetype');
}
@font-face {
  font-family: 'Bog';
  src: url('https://raw.githubusercontent.com/Ruhamoto/ruhamoto-ruhamoto-very-very-some-fonts/refs/heads/main/Bog.otf?token=GHSAT0AAAAAADIBQ4MSJOVYFX2XVFKQWOJY2HLITXQ') format('opentype');
}
